*{
    font-family: Montserrat,sans-serif;
}

.navbar-brand{
    font-size: 30px;
}

.navbarNav{
    display: flex;
    align-items: flex-end;
}

.container1{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 700px;
}

.image{
    width: 300px;
    height: 300px;
}

#title{
    text-align: center;
}

.section1{
    display: flex;
    align-items: center;
    background-color: #F1F1F1;
    height: 500px;;
}

.section2{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 60px;
    background-color: #CE3F3C;
}

.card{
    display: flex;
    margin: 10px;
}
